<div class="grid">
  {{#each this.grid key='@index' as |row rowIdx|}}
    <div
      class="grid__row"
      {{did-update this.shakeRow (eq rowIdx this.invalidRowIdx)}}
    >
      {{#each row key='@index' as |letter colIdx|}}
        <Game::GridTile
          @letter={{letter}}
          @evaluation={{get (get @evaluations rowIdx) colIdx}}
        />
      {{/each}}
    </div>
  {{/each}}
</div>