<div class="grid">
  {{#each this.grid key='@index' as |row|}}
    <div class="grid__row">
      {{#each row key='@index' as |letter|}}
        <Game::GridTile @letter={{letter}} />
      {{/each}}
    </div>
  {{/each}}
</div>