{{#each this.KEYBOARD as |row|}}
  <div class="keyboard__row">
    {{#each row as |key|}}
      <button
        type="button"
        class="keyboard__key"
        {{on 'click' (fn @handleInput key.name)}}
        {{on-key key.code}}
        {{on-key (concat 'shift+' key.code)}}
      >
        {{key.name}}
      </button>
    {{/each}}
  </div>
{{/each}}