.game {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__main-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__keyboard-container {
    padding: 8px;
  }
}
