.game {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__header {
    height: 50px;
    border-bottom: 1px solid $grey1;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0 4px;
    }
  }

  &__main-area {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 408px;
    background-color: #{$white}90;
    opacity: 0;
    transition: opacity 250ms ease-in-out;

    &:hover {
      opacity: 1;
    }

    @media (max-width: $breakpoint-tablet) {
      opacity: 1;

      @include inline-animation(500ms, ease-in) {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  &__keyboard-container {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    padding: 8px;
    user-select: none;
  }
}
