.grid {
  &__row {
    display: flex;

    &--invalid {
      @include inline-animation(600ms) {
        10%,
        90% {
          transform: translateX(-1px);
        }

        20%,
        80% {
          transform: translateX(2px);
        }

        30%,
        50%,
        70% {
          transform: translateX(-4px);
        }

        40%,
        60% {
          transform: translateX(4px);
        }
      }
    }
  }

  &__tile {
    width: $grid-cell-dimension;
    height: $grid-cell-dimension;
    line-height: $grid-cell-dimension;
    border: 2px solid $grey1;
    margin: 3px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: $white;

    &--filled {
      border-color: $grey3;
    }

    &--correct,
    &--present,
    &--absent {
      color: $white;

      @for $i from 0 through 10 {
        &:nth-child(#{$i}n) {
          animation-delay: #{$i * 100}ms;
          transition: color 0s #{$i * 100 + 250}ms,
            background-color 0s #{$i * 100 + 250}ms,
            border-color 0s #{$i * 100 + 250}ms;
        }
      }

      @include inline-animation(500ms, ease-in) {
        0% {
          transform: rotateX(0);
        }
        50% {
          transform: rotateX(-90deg);
        }
        100% {
          transform: rotateX(0);
        }
      }
    }

    &--correct {
      border-color: $correct;
      background-color: $correct;
    }

    &--present {
      border-color: $present;
      background-color: $present;
    }

    &--absent {
      border-color: $absent;
      background-color: $absent;
    }
  }
}

.pop {
  @include inline-animation(0.1s, 1) {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    40% {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}
