@mixin inline-animation($duration, $timing-function) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-iteration-count: 1;
}
