.modal {
  &__overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #{$white}80;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close-button {
    padding: 0;
    background: none;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__window {
    background-color: $white;
    box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
    width: 90%;
    max-height: 90%;
    max-width: 500px;
    padding: 16px;
    transform: translateY(0px);

    @include inline-animation(250ms, ease-in) {
      0% {
        transform: translateY(30px);
        opacity: 0;
      }
      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }

  &__content {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
