.stats-modal {
  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & + & {
      margin-top: 16px;
    }
  }

  &__header {
    margin: 16px 0;
  }

  &__stats-row {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  &__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 58px;

    &__value {
      font-size: 36px;
    }

    &__label {
      font-size: 12px;
    }
  }

  &__bar-row {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 80%;

    & + & {
      margin-top: 4px;
    }
  }

  &__bar-label {
    margin-right: 4px;
  }

  &__bar {
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    background-color: $absent;
    text-align: right;
    font-weight: bold;
    color: $white;

    &--nonzero {
      background-color: $correct;
    }
  }

  &__button-row {
    flex-direction: row;
    justify-content: center;

    &__column {
      flex-grow: 1;
      display: flex;
      justify-items: center;
      padding: 16px 24px;

      & + & {
        border-left: 1px solid $black;
      }
    }
  }

  &__next-game-button {
  }
}
