$dismiss_transition_duration: 300ms;

.toasts {
  &__container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
    z-index: 1;
  }

  &__toast {
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
    background-color: $black;
    color: $white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-transform: capitalize;
    max-height: 999px;
    opacity: 1;

    &--inactive {
      opacity: 0;
      transition: opacity $dismiss_transition_duration ease-in-out,
        max-height 0s $dismiss_transition_duration,
        margin-bottom 0s $dismiss_transition_duration,
        padding 0s $dismiss_transition_duration;
      max-height: 0;
      margin-bottom: 0;
      padding: 0;
    }
  }
}
