<div class="modal__overlay" {{on 'click' this.handleOverlayClick}}>
  <div class="modal__content" id="modal__content" ...attributes>
    <button
      class="modal__close-button"
      type="button"
      {{on 'click' this.handleCloseClick}}
    >
      {{inline-svg 'assets/icons/close'}}
    </button>
    {{yield}}
  </div>
</div>