<div class="modal__overlay">
  <div class="modal__window">
    <button class="modal__close-button">
      {{inline-svg 'assets/icons/close'}}
    </button>
    <div class="modal__content">
    {{yield}}
    </div>
  </div>
</div>