<div class="toasts__container">
  {{#each (get (get-service 'toasts') 'toasts') key='id' as |toast|}}
    <div
      class="toasts__toast {{unless toast.active 'toasts__toast--inactive'}}"
    >
      {{toast.message}}
    </div>
  {{/each}}
</div>