<div class="game">
  <div class="game__grid-container">
    <Game::Grid
      @submittedInputs={{this.model.inputs}}
      @currentInput={{this.currentInput}}
      @evaluations={{this.model.evaluations}}
    />
  </div>
  <div class="game__keyboard-container">
    <Game::Keyboard @handleInput={{this.handleInput}} />
  </div>
</div>